
body { 
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
}

.container .navbar.navbar-inverse.navbar-static-top {
	margin-top: 1.5em;
}

.container .jumbotron {
	background-color: #81b3ac;
	text-align: center;
}

.container .jumbotron .jumbo img {
	width: 11.25em; 
	height: 11.25em; 
	-moz-border-radius: 5.6em; 
	-webkit-border-radius: 5.6em; 
	border-radius: 5.6em;
	border:3px solid white;
}

.container .jumbotron h1 {
	color: white;
	margin-top: 0.2em;
}

.container .jumbotron p {
	color: white;
	margin-top: -0.3em;
}

p a.btn.btn-primary.btn-lg {
	margin-top: 1em;
}

#footer {
   position:fixed;
   bottom:0;
   background-color: #232323;
}

.container .jumbotron .sosmed img {
	width: 2.875em; 
	height: 2.875em; 
	margin-top: 1.2em;
	margin-right: 1em;
	margin-bottom: -0.75em;
	border-radius: 1.4375em	
	-moz-border-radius: 1.4375em; 
	-webkit-border-radius: 1.4375em;
}

.dear{
	color: white;
}